.Awards[b-483nrl47nb]{
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Awards .icons li[b-483nrl47nb]{
    list-style: none;
    margin-left: -20px ;
    padding-bottom: 5px;
    color: #6c757d;
}

.Awards .icons li:hover[b-483nrl47nb]{
    transform: scale(1.2);
    margin-left: 68px !important;
}

.Awards .icons li span[b-483nrl47nb] {
    color: rgb(255 193 7) !important;
    font-size: 1.1rem !important;
}

.Awards .icons li span.sup[b-483nrl47nb] {
    font-size: 15px !important;          
    vertical-align: super !important;    
    color: #6c757d !important;             
}

.Awards .icons li:first-child[b-483nrl47nb]{
    margin-top: -5px ;
}