@page "/"
<PageTitle>About</PageTitle>

<div class="container-fluid p-0 about" id="about">
    <div class="about__content">
        <h1>Clarence <span style="color: rgba(189, 93, 56, 1);">Taylor</span></h1>
        <p>3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 · <a href="mailto:ClarenceTaylor@email.com">ClarenceTaylor@email.com</a>
        </p>
        <p>I am experienced in leveraging agile frameworks to provide a
            robust synopsis for high level overviews.
            Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
            proposition.</p>
    </div>
    <div class="about__icons">
        @* linkedin *@
        <a href="https://www.facebook.com/uongphi.783351/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        @* github *@
        <a href="https://github.com/phitd1952001" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.facebook.com/uongphi.783351/" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/uongphi.783351/" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </div>
</div>