@page "/awards"
<PageTitle>Awards</PageTitle>

<div class="container">
    <div class="Awards">
        <h1 class="pt-5">Awards & Certifications</h1>
        <div class="icons">
        <ul>
            <li><span><i class="fa-solid fa-trophy"></i></span> Google Analytics Certified Developer</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> Mobile Web Specialist - Google Certification</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> 1 <span class="sup">st</span> Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> 1 <span class="sup">st</span> Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> 2 <span class="sup">nd</span> Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> 1 <span class="sup">st</span> Place - James Buchanan High School - Hackathon 2006</li>
            <li><span><i class="fa-solid fa-trophy"></i></span> 3 <span class="sup">rd</span> Place - James Buchanan High School - Hackathon 2005</li>
        </ul>
        </div>
    </div>
</div>

