@page "/education"
<PageTitle>Education</PageTitle>

<div class="container">
    <h1 class=" color--black">Education</h1>
    <div class="contents">
        <h2 class="color--black">University of Colorado Boulder</h2>
        <p class="color--orange">August 2006 - May 2010</p>
    </div>
    <h3 class="color--gray">Bachelor of Science</h3>
    <p class=" color--gray">
        Computer Science - Web Development Track <br>
        GPA: 3.23
    </p>

    <div class="contents">
        <h2 class="color--black">James Buchanan High School</h2>
        <p class="color--orange">August 2002 - May 2006</p>
    </div>
    <h3 class="color--gray">Technology Magnet Program</h3>
    <p class="color--gray">GPA: 3.56</p>
</div>