@page "/interests"
<PageTitle>Interests</PageTitle>

<div class="container">
    <div class="Interests">
        <h1 class="pt-5">Interests</h1>
        <p>
            Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
            and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing,
            and kayaking.
            <br>
            <br>
            When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an
            aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in
            the front-end web development world.
        </p>
    </div>
</div>