<div class="d-flex">
    <!-- Sidebar -->
    <div class="header_nav d-flex flex-column" style="width: 250px; height: 100vh;">
        <nav class="flex-grow-1 align-content-center">
            <ul class="nav flex-column text-center">
                <!-- Ảnh profile -->
                <li class="nav-item">
                    <img src="https://bt-component-netcore.cybersoft.edu.vn/assets/img/profile.jpg" alt="profile.jpg" class="profile-img mb-3">
                </li>
                <!-- Menu items -->
                @* trang about *@
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" aria-current="page" href="/" Match="NavLinkMatch.All">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/awards">Awards</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

