<div class="d-flex">
    <!-- Sidebar -->
    <div class="header_nav d-flex flex-column">
        <nav class="flex-grow-1 align-content-center">
            <ul class="nav flex-column text-center align-items-center">
                <!-- Ảnh profile -->
                <li class="nav-item ">
                    <img src="https://bt-component-netcore.cybersoft.edu.vn/assets/img/profile.jpg" alt="profile.jpg" class="profile-img mb-3">
                </li>
                <!-- Menu items -->
                @* trang about *@
                <li class="nav-item ">
                    <NavLink class="nav-link bg-transparent nav-link-item" aria-current="page" href="/" Match="NavLinkMatch.All">About</NavLink>
                </li>
                @* trang experience *@
                <li class="nav-item">
                    <NavLink class="nav-link bg-transparent nav-link-item" href="/experience"  Match="NavLinkMatch.Prefix">Experience</NavLink>
                </li>
                @* trang Education *@
                <li class="nav-item">
                    <NavLink class="nav-link bg-transparent nav-link-item" href="/education" Match="NavLinkMatch.Prefix">Education</NavLink>
                </li>
                @* trang Skills *@
                <li class="nav-item">
                    <NavLink class="nav-link bg-transparent nav-link-item" href="/skills" Match="NavLinkMatch.Prefix">Skills</NavLink>
                </li>
                @* trang Interests *@
                <li class="nav-item">
                    <NavLink class="nav-link bg-transparent nav-link-item" href="/interests" Match="NavLinkMatch.Prefix">Interests</NavLink>
                </li>
                @* trang Awards *@
                <li class="nav-item">
                    <NavLink class="nav-link bg-transparent nav-link-item" href="/awards" Match="NavLinkMatch.Prefix">Awards</NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>

