/* Sidebar container */
.header_nav[b-xxld06908w] {
    background-color: rgba(189, 93, 56, 1) !important;
    padding: 1rem 0;
    align-items: center;
    width: 300px;
    height: 100vh;
}

/* Ảnh profile */
.profile-img[b-xxld06908w] {
    width: 100px;
    height: 100px;
    border-radius: 50%;           
    object-fit: cover;              
    border: 3px solid #fff;          
    box-shadow: 1px 1px 35px rgba(253, 253, 253, 0.75); 
    margin-bottom: 15px;         
}

.profile-img:hover[b-xxld06908w]{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 1px 1px 35px rgba(253, 253, 253, 1);
}

/* Nav items chung */
.nav-item[b-xxld06908w] {
    margin: -5px 0 !important; 
    font-size: 25px;
    font-weight:700;
}

/* Nav link cơ bản */
.nav-link[b-xxld06908w] {
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.55); 
    border-radius: 6px;              
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Hover hiệu ứng */
.nav-link:hover[b-xxld06908w] {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.15); 
}

/* Active hiệu ứng */
.nav-link.active[b-xxld06908w] {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.25); 
    font-weight: 800;
}
