/* _content/ClarenceTaylor/Pages/About.razor.rz.scp.css */
.about[b-e0lgdqpvtb]{
    padding-left: 1.5rem !important;    
    padding-right: 1.5rem !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

h1[b-e0lgdqpvtb]{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: #343A40;

}

.about__content p:first-of-type[b-e0lgdqpvtb] {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 3rem !important;
}

.about__content p:last-child[b-e0lgdqpvtb]{
    margin-bottom: 3rem !important;
}

p a[b-e0lgdqpvtb]{
    color: #bd5d38 ;
    text-transform: uppercase ;
}

p[b-e0lgdqpvtb]{
    font-size: 15px;
    font-weight: 400;
    color: #7A8289;
}

.about .about__icons[b-e0lgdqpvtb]{
    font-size: 35px !important;
    border-radius: 5rem;
}

.about .about__icons svg[b-e0lgdqpvtb]{
    width: 40px;
    height: 40px;
    background-color: #343A40;
    color: white;
    border-radius: 5rem;
    padding: 0.5rem;
}

.about .about__icons svg:hover[b-e0lgdqpvtb]{
    background-color: #bd5d38;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
/* _content/ClarenceTaylor/Pages/Awards.razor.rz.scp.css */
.Awards[b-483nrl47nb]{
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Awards .icons li[b-483nrl47nb]{
    list-style: none;
    margin-left: -20px ;
    padding-bottom: 5px;
    color: #6c757d;
}

.Awards .icons li:hover[b-483nrl47nb]{
    transform: scale(1.2);
    margin-left: 68px !important;
}

.Awards .icons li span[b-483nrl47nb] {
    color: rgb(255 193 7) !important;
    font-size: 1.1rem !important;
}

.Awards .icons li span.sup[b-483nrl47nb] {
    font-size: 15px !important;          
    vertical-align: super !important;    
    color: #6c757d !important;             
}

.Awards .icons li:first-child[b-483nrl47nb]{
    margin-top: -5px ;
}
/* _content/ClarenceTaylor/Pages/Skills.razor.rz.scp.css */
.container .icon[b-4ot27kea26] {
  display: flex;         
  list-style: none;     
  padding: 0;
  margin: 0;
  gap: 5px; 
}

.container .icon li[b-4ot27kea26] {
  display: inline-block; 
  margin-right: 5px;    
  list-style: none;  
  font-size: 3.5rem;
}    

.container .icon li:hover[b-4ot27kea26]{
 transform: scale(1.2);
 margin-left: -10px;
 color: #bd5d38;
}

.container .icon li:first-child[b-4ot27kea26] {
 margin-left: -40px;
}

.content ul li[b-4ot27kea26]{
    list-style: none;
    color: #6c757d;
    margin-top: -5px;
    padding: 5px 0;
}

.content ul li:hover[b-4ot27kea26]{
    color: #bd5d38;
    transform: scale(1.1);
    margin-left: 47px;
}
/* _content/ClarenceTaylor/Shared/NavMenu.razor.rz.scp.css */
/* Sidebar container */
.header_nav[b-xxld06908w] {
    background-color: rgba(189, 93, 56, 1) !important;
    padding: 1rem 0;
    align-items: center;
    width: 300px;
    height: 100vh;
}

/* Ảnh profile */
.profile-img[b-xxld06908w] {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;           
    object-fit: cover;              
    border: 3px solid #fff;          
    box-shadow: 1px 1px 35px rgba(253, 253, 253, 0.75); 
    margin-bottom: 15px;         
}

.profile-img:hover[b-xxld06908w]{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 1px 1px 35px rgba(253, 253, 253, 1);
}

/* Nav items chung */
.nav-item[b-xxld06908w] {
    margin: -6px 0 !important; 
    font-size: 20px;
    font-weight:700;
}

/* Nav link cơ bản */
.nav-link[b-xxld06908w] {
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.55); 
    border-radius: 6px;              
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Hover hiệu ứng */
.nav-link:hover[b-xxld06908w] {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.15); 
}

/* Active hiệu ứng */
.nav-link.active[b-xxld06908w] {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.25); 
    font-weight: 800;
}
